
@media only screen and (min-width:257) {
    .vl {
        display: none;
    }
}

@media (min-width: 768px) {
    .form{
        width: 250px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
}
.foam{
    
    margin-top: 80px;
    margin-bottom: 80px;
    }
    .navbar {
        background-color: rgb(15, 15, 15);
        box-shadow: 10px 0 5px -5px black;
    }